<div *ngIf="cart" class="bg-gray">
    <div class="col-md-12 py-3 bg-gray">
      <div class="card w-50 mx-auto" style="">
        
        <div class="card-body text-center">
  
          <h2>Checkout</h2>

          <span> {{ messsage }} </span>
         
          <br/>
  
          <div *ngFor="let product of cart.products" class="bg-gray">
            <div class="row">
              <div class="col-md-12">
                <div class="card w-50 mx-auto" style="">
  
                  <div class="card-header text-center">
                    <img src="https://escritoriodeprojetos.com.br/images/jdownloads/fileimages/xlsx.png" class="img-responsive">{{product.productName}}</div>
                  <div class="card-body text-center">
                    <h6 class="card-subtitle text-muted">Pre&ccedil;o: R${{product.productPriceInCents}}</h6>
                    <p class="card-text p-y-1">Descri&ccedil;&atilde;o:&nbsp; {{product.productDescription}} </p>
                  </div>
                  <button data-toggle="modal" data-target="#myModal" class="btn btn-outline-primary" (click)="remove(product.id)">
                    Remover do carrinho
                  </button>
                </div>
                <br/>
              </div>
            </div>
          </div>
  
          <hr>
  
          <a><button class="btn btn-outline-primary" (click)="finalizarCompra()" > Finalizar Compra </button> </a> 
  
        </div>
      </div>
      <br/>
  
  
  
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade in" data-backdrop="false" id="myModal">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
  
        <div class="modal-body text-center">
          <p>Produto removido com sucesso !</p>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="location.reload();" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>
  
    </div>
  </div>