<div *ngIf="historical" class="bg-gray">
  <div class="col-md-12 py-3 bg-gray">
    <div class="card w-50 mx-auto" style="">
      <div class="card-header text-center"> Historico de Compras</div>
      <div class="card-body text-center">

        <span *ngIf="message === 'Historico Vazio'"> Historico Vazio </span>
        <!-- 
        <div *ngIf="messageSucess !== 'false'" style="margin: 0 auto" class="w-50 text-center position-relative alert alert-success">
        {{ messageSucess }} </div> -->

        <br/>

        <div *ngFor="let history of historical" class="bg-gray">
          <div class="row">
            <div class="col-md-12">
                 Data da Compra : {{ history.date | date: 'dd/MM/yyyy' }}
              <div class="card mx-auto" style="" (click)="goToHistory(history.id)" [routerLink]="['/history-detail', history.id]">

                <br/>
                <div *ngFor="let product of history.cart.products" class="bg-gray">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card w-50 mx-auto" style="">

                        <div class="card-header text-center">
                          <img src="https://escritoriodeprojetos.com.br/images/jdownloads/fileimages/xlsx.png" class="img-responsive">{{product.productName}}</div>
                        <div class="card-body text-center">
                          <h6 class="card-subtitle text-muted">Pre&ccedil;o: R${{product.productPriceInCents}}</h6>
                          <p class="card-text p-y-1">Descri&ccedil;&atilde;o:&nbsp; {{product.productDescription}} </p>
                        </div>
                        <div class="btn btn-outline-primary">
                          link :
                          <a target="_blank" (click)="goToProductLink(product.id)"> {{product.productLink}} </a>
                        </div>
                      </div>
                      <br/>
                    </div>
                  </div>
                </div>
                Total : R$ {{ history.cart.totalValue }}
              </div>

              <br/>
            </div>
          </div>
        </div>

        <hr>

        <!-- <a href="/checkout" *ngIf="message !== 'Historico Vazio'"> <button class="btn btn-outline-primary" > Checkout </button> </a>  -->

      </div>
    </div>
    <br/>



  </div>
</div>