<div class="col-md-6 col-md-offset-3">
  <h2>Cadastro de usuário</h2>
  <br/>

  <div *ngIf="sucessoCadastro === 'true'" class="alert alert-success box-msg" role="alert">
    <strong>Cadastro realizado com sucesso!</strong>
  </div>

  <div *ngIf="sucessoCadastro === 'false'" class="alert alert-danger box-msg" role="alert">
    <strong>Nome de usuário já cadastrado!</strong>
  </div>

  <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userName.valid }">
          <label for="userName">Nome</label>
          <input type="text" class="form-control" name="userName" [(ngModel)]="model.userName" #userName="ngModel" required />
          <div *ngIf="f.submitted && !userName.valid" class="help-block">Campo Obrigatório</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userEmail.valid }">
          <label for="userEmail">Email</label>
          <input type="text" class="form-control" name="userEmail" [(ngModel)]="model.userEmail" #userEmail="ngModel" required />
          <div *ngIf="f.submitted && !userEmail.valid" class="help-block">Campo Obrigatório</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userPassword.valid }">
          <label for="userPassword">Senha</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="model.userPassword" #userPassword="ngModel" required />
          <div *ngIf="f.submitted && !userPassword.valid" class="help-block">Campo Obrigatório</div>
      </div>
      <div class="form-group">
          <button class="btn btn-primary">Cadastrar</button>
          <button  *ngIf="sucessoCadastro === 'true'" (click)="gotoLogin()" class="btn btn-default"> Ir para página de Login</button>
        </div>
  </form>
</div>
