<h1>XYZ Templates</h1>



<h3>Sobre</h3>

<p> A empresa XYZ foi criada no ano de 2017 e tem como principal objetivo apoiar a distribuição gratuita de templates de documentos
    de projeto </p>

<h3>Contato</h3>

<div id="divContato" class="row">
    <div class="col-md-3 col-lg-3">
        <i class="glyphicon glyphicon-envelope"></i> Email : xyz@uff.br
    </div>
    <div class="col-md-3 col-lg-3">
        <i class="glyphicon glyphicon-earphone"></i> Telefone : (21) 2617-8945
    </div>
    <div class="col-md-3 col-lg-3">
        <i class="glyphicon glyphicon-thumbs-up"></i> FaceBook : fb.com/xyzuff
    </div>
    <div class="col-md-3 col-lg-3">
        <i class="glyphicon glyphicon-retweet"></i> Twitter : @xyzuff
    </div>
</div>

